* {
  -moz-user-select: none;
}

html {
  font-size: 10px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
#middle {
  outline: 1px solid orange;
  display: flex;
  flex-direction: row;
  flex-grow: 10;
  justify-content: center;
  align-items: center;
  width: 100%;
}
h1 {
  text-align: center;
}
#buttons {
  min-height: 15%;
  outline: 1px solid green;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#buttons > button {
  height: 5rem;
  margin: 1rem;
}
.btn {
  opacity: 1;
  transition: opacity ease 0.5s;
}
body:not([data-ready="ready"]) .btn {
  opacity: 0.1;
}

body[data-testmode="emoji"] #panel_call {
  display: none;
}

body[data-testmode="emoji"] #panel_emoji {
  display: block;
}

body[data-testmode="call"] #panel_call {
  display: block;
}

body[data-testmode="call"] #panel_emoji {
  display: none;
}

/* Call button states */
#call_btn {
  height: 8rem;
  width: 8rem;
  border-radius: 4rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#call_btn.offline {
  background-color: #999;
  color: #ccc;
}
#call_btn.offline:after {
  content: 'offline';
}

#call_btn.connected {
  background-color: #999;
  color: #ccc;
}
#call_btn.connected:after {
  content: 'hang up';
}
#call_btn.disconnected {
  background-color: #6f6;
  color: #000;
}
#call_btn.disconnected:after {
  content: 'call';
}
#call_btn.dialing {
  background-color: #ff9;
  color: #000;
}
#call_btn.dialing:after {
  content: 'dialing...';
}
#call_btn.incoming {
  background-color: #99f;
  color: #000;
}
#call_btn.incoming:after {
  content: 'incoming...';
}

#status {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background-color: #000;
  color: #eee;
  text-align: right;
  padding: 0 1rem;
}
