* {
  -moz-user-select: none;
}

html {
  font-size: 10px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  font-size: 1.8rem;
}

#panels {
  height: calc(100% - 3rem);
  display: flex;
  flex-direction: row;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#middle {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 20%;
  bottom: 0;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

body:not([data-ready="ready"]) .btn {
  opacity: 0.1;
}

body[data-testmode="emoji"] #panel_call {
  display: none;
}

body[data-testmode="emoji"] #panel_emoji {
  display: block;
}

body[data-testmode="call"] #panel_call {
  display: block;
}

body[data-testmode="call"] #panel_emoji {
  display: none;
}

#panel_call {
  flex: 1 1 33%;
  color: #fff;
  background-color: #0B5A9F;
}

#panel_call.dialing, #panel_call.incoming {
  background: url('images/ringing_bgrnd.png') center no-repeat;
}

#panel_call.connected {
  background-color: #9ECC3A;
}

#panel_call.missed {
  background-color: #EF3F23;
}

#buttons {
  min-height: 50%;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Call button states */
.btn {
  height: 12rem;
  width: 12rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  border-radius: 6rem;
  box-shadow: 0 6px 9px 1px rgba(0, 0, 0, 0.6);
  background: url('images/call_btn.png') center no-repeat;
}

#call_btn.connected {
  background: url('images/call_open_btn.png') center no-repeat;
}

#call_btn.missed {
  box-shadow: 0 6px 9px 1px rgba(255, 0, 0, 1);
}

/**
Emoji Panel Styles
*/

#panel_emoji {
  flex: 1 1 66%;
  color: #0F9FED;
}

.left {
  background: url('images/smiley.png') center no-repeat;
}

.middle {
  background: url('images/heart.png') center no-repeat;
 }

.right {
  background: url('images/unicorn.png') center no-repeat;
}

.received {
  background-color: #9ECC3A;
  color: #fff;
  font-size: 2rem;
  display: flex !important;
}

#emoji-icons  {
  min-height: 50%;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#emoji-icons > div {
  height: 14rem;
  width: 14rem;
}

#emoji-top-section {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 15%;
  top: 0;
  padding-top: 4rem;
  color: #fff;
  justify-content: center;
}

.icon:active {
  transform: scale(1.5);
}

.iconReceived {
  transform: scale(1.5);
}

@media (orientation: landscape) {
  #emoji-icons > div {
    -moz-margin-start: 0;
  }
}

body > footer {
  flex: 1 1 3rem;
  height: 3rem;
  background-color: #000;
  color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
  padding: 0.25rem 0;
}

#status {
  flex: 0 0 2.5rem;
  margin: 0 1rem;
}

#reboot {
  flex: 0 0 2.5rem;
  margin: 0 1rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #999 url('../sleep_menu/images/power-off.png') no-repeat;
  background-size: contain;
  border-radius: 1.25rem;
}
