* {
  -moz-user-select: none;
}

html {
  font-size: 10px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  font-size: 1.8rem;
}

#panels {
  height: calc(100% - 0rem);
  display: flex;
  flex-direction: row;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#middle {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 20%;
  bottom: 0;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

body:not([data-ready="ready"]) .btn {
  opacity: 0.1;
}

#panel_call {
  flex: 1 1 33%;
  color: #fff;
  background-color: #0B5A9F;
}

#panel_call.dialing, #panel_call.incoming {
  background: url('images/ringing_bgrnd.png') center no-repeat;
}

#panel_call.connected {
  background-color: #9ECC3A;
}

#panel_call.missed {
  background-color: #EF3F23;
}

#buttons {
  min-height: 50%;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Call button states */
.btn {
  height: 12rem;
  width: 12rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  border-radius: 6rem;
  box-shadow: 0 6px 9px 1px rgba(0, 0, 0, 0.6);
  background: url('images/call_btn.png') center no-repeat;
}

#call_btn.connected {
  background: url('images/call_open_btn.png') center no-repeat;
}

#call_btn.missed {
  box-shadow: 0 0 10px 10px rgba(255, 0, 0, 1);
}

/**
Emoji Panel Styles
*/

#panel_emoji {
  display: flex;
  flex: 1 1 66%;
  color: #0F9FED;
  background-color: #E1F4FD;
}

#panel_emoji.received {
  pointer-events: none;
  background-color: #9ECC3A;
}

.left {
  background: url('images/thumbsUp.png') center no-repeat;
}

.middle {
  background: url('images/heart.png') center no-repeat;
 }

.right {
  background: url('images/smiley.png') center no-repeat;
}

.received {
  background-color: #9ECC3A;
  color: #fff;
  font-size: 2rem;
}

#signal {
  margin: 5px;
  position: absolute;
  z-index: 2;
}

#signalLevel {
  width: 15px;
  height: 11px;
  background: url('images/SignalStrength.png');
  background-position: 0 0;
}

#signalLevel.no-signal {
  background-position: 0 0;
}

#signalLevel.weak-signal {
  background-position: -19px 0;
}

#signalLevel.low-signal {
  background-position: -38px 0;
}

#signalLevel.good-signal {
  background-position: -57px 0;
}

#signalLevel.strong-signal {
  background-position: -76px 0;
}

#emoji-icons  {
  min-height: 50%;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: opacity 0.4s ease;
}
#emoji-icons.sending {
  opacity: 0.5;
  pointer-events: none;
}

#emoji-icons > div {
  height: 14rem;
  width: 14rem;
}

#emoji-top-section {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 15%;
  top: 0;
  padding-top: 4rem;
  color: #fff;
  justify-content: center;
}
#emoji-top-section.received {
  display: flex;
}

.icon:active {
  transform: scale(1.5);
}

.iconReceived {
  transform: scale(1.5);
}

@media (orientation: landscape) {
  #emoji-icons > div {
    -moz-margin-start: 0;
  }
}
