
.pin-card {
  position: relative;
  width: 45%;
  margin: 2.5rem 1.2% 0 1.2%;
  float: left;
  display: block;
  height: 10.5rem;
  border-radius: 5px;
  background-color: #E4E4E4;
  background-size: cover;
  color: #000;
}

.pin-card > * {
  pointer-events: none;
}

.pin-card.light {
  color: #fff;
}

.pin-card .background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 5px;
  top: 0;
  left: 0;
}

.pin-card.video .background,
.pin-card.photo .background,
.pin-card.recipe .background {
  display: none;
}

.pin-card img {
  position: absolute;
  top: -1.5rem;
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: 3rem;
  background: url(pin-card/images/default_icon.png);
  background-size: cover;
}

.pin-card header {
  position: absolute;
  font-style: italic;
  text-align: center;
  top: 2rem;
  font-size: 1.4rem;
  width: calc(100% - 2rem);
  margin: 0 1rem;
  overflow: hidden;
  line-height: 1.6rem;
  height: 1.6rem;
}

.pin-card.recipe header {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  height: unset;
  max-height: 8rem;
}

.pin-card.no-content header {
  height: 7.6rem;
}

.pin-card.video header {
  top: 8rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  color: #fff;
}

.pin-card.photo header {
  display: none;
}

.pin-card p.description {
  height: 6rem;
  position: absolute;
  top: 4rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2rem;
  padding: 0 .7rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}

.pin-card.light p.description {
  color: #fff;
}

.pin-card.video p,
.pin-card.photo p,
.pin-card.recipe p {
  display: none;
}
